* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: rgb(83, 83, 83);
}

.container {
    padding-inline: 40px;
    width: 100%;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
        position: relative;
    }
    
    .counter--minus {
        background-color: #989696;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: none;
        margin-top: 50px;
        margin-right: -20px;
        z-index: 0;
        color: white;
            font-size: 20px;

}

.counter--plus {
    background-color: #989696;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}

.counter--count {
    display: flex;
    background-color: #f2f2f2;
        border-radius: 50%;
        justify-content: center;
    align-items: center;
    width: 100px;
        height: 100px;
        margin-right: -20px;
        font-size: 25px;
}